.note {
  border: 1px solid rgb(161, 188, 245);
  // margin: 0 10% 5px 10%;
  margin-bottom: 30px;
  padding: 0 40px;
  border-radius: 5px;
}

.space {
  margin: 3px;
}

.inline {
  display: inline-block;
}
